/* Complete the challenge by writing CSS below */

header {
  font-size: 1.8em;
}

.title {
  font-size: 1.625rem;
}

h1 {
  font-size: 5.625rem;
}

h2 {
  font-size: 0.302em; /* 16px/53px */ 
}

h3 {
  font-size: 0.8em ; /* 16px/20px */
}

