/* nav-item transitions ---------- */

.nav-item {
    flex-grow: 1;
    transition: flex-grow, .5s;
    transition-timing-function: ease-out;
}

.nav-item:hover {
	flex-grow: 2;
}

/* nav icon transitions ---------- */

.icon {
  right: -25px;
}

.nav-item:hover .icon {
	right: 12%;
}